.input-hw6 {
    padding: 5px 60px;
    background-color: rgb(40, 34, 47);
    border: solid 2px white;
    border-radius: 20px;
    outline: none;
    color: white;
}

.wrapper-hw6 {
    text-align: center;
}

.button-hw6 {
    margin-top: 20px;
}

button {
    margin: 5px;
}